@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
	background: #fafafa;
}

hr {
        height: 2px;
        border-width: 0;
        color: #e2e2e2;
		background-color: #e2e2e2;
		margin: 0;
}

.header {
	display: flex;
	align-items: center;
	padding: 0.375rem 16rem;
}

.header__item:last-child {
	margin-left: auto;
}

.header__message {
	font-size: 1.25rem;
}

.header__logo {
	width: 7rem;
}

.stories, .posts {
	padding: 0.375rem 16rem;
}

.stories__list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.stories__item {
	margin: 0 0.625rem;
	height: 3.125rem;
	width: 3.125rem;
	border-radius: 100%;
}

.stories__item--new-story {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.stories__userphoto, .post__userphoto {
	border-radius: 100%;
	height: 3.125rem;
	width: 3.125rem;
	border: 3px solid transparent;
}

.post {
	border: 2px solid #e2e2e2;
	border-radius: 2px;
}

.post__header {
	display: flex;
	align-items: center;
}

.post__userphoto {
	height: 2rem;
	width: 2rem;
}

.post__footer {
	background: #f2f2f2;
}

.post__username {
	font-weight: bolder;
	margin-right: auto;
}
